<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/img/logo_P.png">
  <title>TPFinal</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>

<body>

  <div th:insert="/layouts/header :: header"></div>
  <div th:insert="/layouts/navegation :: navegation"></div>


  <div class="container">

    <section>

      <div class="cont-car" th:each="movie:${MovieList}">
        <div class="card col-mb-3 text-white bg-dark" style="max-width: 540px;">
          <div class="row g-0">

            <div class="col-md-4 cont-img">
              <img class="img-fluid rounded-start" th:src="${'data:image/png;base64,'+movie.cover}">
            </div>

            <div class="col-md-8">

              <div class="card-header text-center" th:text="'Tipo de película: ' + ${movie.movieType}"></div>

              <div class="card-body">
                <h5 class="card-title" th:text="${movie.title}"></h5>
                <p class="card-text" th:text="${movie.description}"></p>
                <div class="text-center">
                  <form action="/buy-tickets" method="POST">
                    <input type="hidden" name="userId" th:value="${userId}">
                    <input type="hidden" name="movieId" th:value="${movie.id}" />
                    <button class="btn btn-primary" type="submit">Comprar entrada</button>
                  </form>
                </div>
              </div>

            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark">
              <div class="text-muted text-center"
                th:text="'Cantidad de semanas a la venta: ' + ${movie.saleDuration} + ' semanas'"></div>
            </li>
            <li class="list-group-item bg-dark">
              <div class="text-muted text-center" th:text="'Sala: ' + ${movie.room}"></div>
            </li>
            <!-- 
            <div class="card-footer text-muted" th:text="'Tickets en stock: ' + ${movie.ticketStock}"></div>
             -->
            <li class="list-group-item bg-dark">
              <div class="text-muted text-center" th:text="'Tickets en stock: ' + ${movie.ticketStock}"></div>
            </li>
            <li class="list-group-item bg-dark">
              <div class="cont-car">

                <form class="row g-2" th:action="@{/valoration-movie}" method="POST">
                  <input type="hidden" th:value="${movie.id}" name="movieId" />
                  <input type="hidden" th:value="${userId}" name="userId" />
                  <div class="col-auto">
                    <input class="form-control form-control-sm" type="number" name="valoration"
                      placeholder="Digite su valoracion" value="0">
                    <!-- 
			            	<input type="range" class="form-range" min="1" max="5" step="1" name="valoration">
			            	 -->
                    <!-- 
			            	<div class="alert alert-danger" th:if="${#fields.hasErrors('valoration')}" th:errors="*{valoration}"></div>
			            	 -->
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-sm">
                      Valorar pelicula
                    </button>
                  </div>
                </form>

              </div>
            </li>
            <li class="list-group-item bg-dark">
              <div class="cont-car">
                <form class="row g-2" th:action="@{/comment-movie}" method="POST">
                  <!-- 
              			<div class="alert alert-info" role="alert" th:if="${errors}">
							Error al comentar pelicula
						</div>
              			 -->
                  <input type="hidden" th:value="${movie.id}" name="movieId" />
                  <input type="hidden" th:value="${userId}" name="userId" />
                  <div class="col-auto">
                    <input class="form-control form-control-sm" type="text" name="comment"
                      placeholder="Digite su Comentario">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-sm">
                      Comentar pelicula
                    </button>
                  </div>
                </form>
              </div>
            </li>
          </ul>

          <div class="card-footer text-muted">

            <div class="cont-car" th:if="${userRole == 'ADMIN'}">
              <form action="/lockMovie" method="POST">
                <input type="hidden" th:value="${movie.id}" name="id" />
                <button type="submit" class="btn btn-danger btn-e">Bloquear Película</button>
              </form>
              <a href="#" class="btn btn-warning btn-e" th:href="@{'/editMovie/'+ ${movie.id}}">Editar</a>
            </div>


            <div class="text-center">
              <!-- <a class="btn btn-primary" th:href="/getComments">Ver Comentarios</a> -->
              <a class="btn btn-primary" th:href="'/getComments/' + ${movie.id}">Ver Comentarios</a>
            </div>


          </div>

        </div>
      </div>

      <!-- 
            <div class="cont-car" th:each="movie:${MovieList}">
                <div class="card text-center col-8">
                  <div class="card-header" th:text="'Tipo de película: ' + ${movie.movieType}"></div>
                  <div class="card-body">
                    <h5 class="card-title" th:text="${movie.title}"></h5>
                    <div class="cont-img">
                      <img th:src="${movie.cover}" class="rounded" />
                    </div>
                    <p class="card-text" th:text="${movie.description}"></p>
                  
                    <form action="/joinMovie" method="POST">
                        <h3 th:if="${UserList}">Seleccione un usuario</h3>
                        <select class="btn btn-primary" name="userId">
                          <option th:each="user:${UserList}" th:value="${user.id}" th:text="${user.name}"> </option>
                        </select>
                        <input type="hidden" name="movieId" th:value="${movie.id}" />
                        <button class="btn btn-primary" type="submit">Comprar entrada</button>
                      </form>

                    </div>

                  <div class="card-footer text-muted" th:text="'Cantidad de semanas a la venta: ' + ${movie.saleDuration} + ' semanas'"></div>
                  <div class="card-footer text-muted" th:text="'Sala: ' + ${movie.room}"></div>
                  <div class="card-footer text-muted">
                    
                    <div class="cont-car">
                        <form action="/lockMovie" method="POST">
                          <input type="hidden" th:value="${movie.id}" name="id" />
                          <button type="submit" class="btn btn-danger">
                            Bloquear Película
                          </button>
                        </form>
                        <a href="#" class="btn btn-warning" th:href="@{'/editMovie/'+ ${movie.id}}">Editar</a>
                      </div>

                    </div>
                  </div>
                </div>
             -->

    </section>
  </div>

  <div th:insert="/layouts/footer :: footer"></div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>