<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>TPFinal</title>
    <link th:href="@{css/styles.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<div th:insert="/layouts/header :: header"></div>
    <div th:insert="/layouts/navegation :: navegation"></div>
    
    <div class="container">
        
        <section>
            <div class="main--menu text-center">
                <h1 class="color">Menu principal</h1>
            </div>


            <div class="main--menu text-center">
                <h1>Editar usuario actual</h1>
                <a href="#" class="btn btn-warning" th:href="@{'/editUser/'+ ${userId}}">
                    Editar
                </a>
            </div>

            <div class="main--menu text-center">
                <h1>Registro de Peliculas</h1>

                <div class="cont-car" th:each="userMovie:${UserMovieList}">
                    <div class="card-header" th:text="'Titulo de la pelicula: ' + ${userMovie.movie.title}"></div>
                    <div class="card-header" th:text="'Tickets comprados: ' + ${userMovie.tickets}"></div>
                    <div class="card-header" th:text="'Valoracion: ' + ${userMovie.valoration}"></div>

                    <hr>
                </div>

        </section>
    
    </div>
    
    <div th:insert="/layouts/footer :: footer"></div>
</body>

</html>